@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F5F3;
  --foreground: #171717;
  --accent: #0026EF;
  --accent-light: #FFCFAF;
  --btq: #0B3EF9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F8F5F3;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-instrument-sans), Helvetica, sans-serif;
}

h1 {
  font-family: var(--font-crimson-pro), serif;
  font-weight: 300;
}

.subheading {
  font-family: var(--font-jet-brains-mono), monospace;
}

::selection {
  background: var(--accent-light);
  color: var(--accent);
}
